{% extends 'base.html' %}

{% block title %} JustChat |
    {% for user in current_room.room_members.all %}
        {% if user.username != request.user.username %}
            {{ user.username }}
        {% endif %}
    {% endfor %}
{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'room.css' %}">

    <section>
        <div class="container px-0">

            <div class="row mx-0">





                <div class="col-md-4 py-4 d-none d-md-block">
                    <h2 class=''>Messages</h2>
                    <div class="bg-light">
                        {# iterate all room the user is present in and sorted by last text sent time #}
                        {% for conversation in all_conversations|dictsortreversed:"last_text_send_at" %}

                            {# check if the room have more than 1 msg if yes then it will show that room #}
                            {% if conversation.chatmodel_set.all.count > 0 %}

                                {# to get the memebers name of the group #}
                                {% for member in conversation.room_members.all %}

                                    {# skip the current/request user name #}
                                    {% if member.username != request.user.username %}
                                        <a class="img-thumbnail border-0 rounded-0 d-block text-decoration-none text-dark p-2 bg-light" href="{% url 'room' conversation.slug %}">
                                            {% if not member.profilemodel.profile_pic %}
                                                {% if member.profilemodel.gender == 'Others' %}
                                                    <img alt="default others pic" class="mr-2" src="{% static 'static_images/bigender.jpg' %}"  style="height: 44px; width: 44px; border-radius: 50%">
                                                {% elif member.profilemodel.gender == 'Female' %}
                                                    <img alt="default female pic" class="mr-2" src="{% static 'static_images/female_profile_pic.jpg' %}"  style="height: 44px; width: 44px; border-radius: 50%">
                                                {% else %}
                                                    <img alt="default male pic" class="mr-2" src="{% static 'static_images/male_profile_pic.jpg' %}"  style="height: 44px; width: 44px; border-radius: 50%">
                                                {% endif %}
                                            {% else %}
                                                <img alt="user profile" class="mr-2" src="{{ member.profilemodel.profile_pic.url }}" style="height: 44px; width: 44px; border-radius: 50%">
                                            {%endif %}
                                            <span class="font-weight-bold">{{ member.first_name }} {{ member.last_name }}</span>
                                            <span class="float-right small">{{ conversation.last_text_send_at }}</span>
                                        </a>
                                    {% endif %}

                                {% endfor %}

                            {% endif %}

                        {% endfor %}
                    </div>
                </div>




                <div class="col-md-8 px-0">

                    <div id="chatCard" class="card">
                        <div id="cHeader" class="card-header py-2">
                            <h3 class="card-title text-capitalize my-1">
                                {% for user in current_room.room_members.all %}
                                    {% if user.username != request.user.username %}
                                        {{ user.username }}
                                    {% endif %}
                                {% endfor %}
                            </h3>
                        </div>
                        <div id="lol">
                            <div class="card-body py-0 px-md-1" id="chatWindow">
                                {% for message in all_messages %}
                                    <div class="clearfix">
                                        {% if message.sent_by == request.user %}
                                                <p id="senderMsg" class="px-2 py-1 ml-md-5 ml-2 my-1 bg-info rounded">{{ message.message }}</p>
                                        {% else %}
                                                <p id="receiverMsg" class="px-2 py-1 my-1 bg-light rounded">{{ message.message }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="card-footer p-0">
                                <div class="input-group">
                                    <input id="chat-message-input" type="text" class="form-control rounded-0" size="50">
                                    <div class="input-group-append">
                                        <input id="chat-message-submit" type="button" value="Send" class="btn btn-info rounded-0 px-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {{ room_name|json_script:"room-name" }}
    <script>

        var navHeight = document.getElementsByTagName('nav')[0];
        var cTitle = document.getElementById('cHeader');
        var cFooter = document.getElementsByClassName('card-footer')[0];

        var hRemoved = navHeight.offsetHeight + cTitle.offsetHeight + cFooter.offsetHeight;

        var chatWin = document.getElementById('chatWindow');
        chatWin.style.height = window.innerHeight - hRemoved + 'px';
        chatWin.scrollTop = chatWin.scrollHeight;

        window.addEventListener('resize', function(event){
            var newWidth = window.innerWidth;
            var newHeight = window.innerHeight;
        });
        $(window).resize(function() {
            console.log('window was resized');
        });
        window.resize = event => {
            chatWin.style.height = window.innerHeight - hRemoved + 'px';
            chatWin.scrollTop = chatWin.scrollHeight;
        };
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            var para_div = document.createElement("div");
            para_div.className ="clearfix";

            var para = document.createElement("p");
            if (data.sent_by === '{{ request.user }}'){
                para.setAttribute('id', 'senderMsg');
                para.className = 'bg-info';
            }else{
                para.setAttribute('id', 'receiverMsg');
                para.className = 'bg-light';
            }
            para.classList.add("px-2", "py-1", "my-1", "rounded");

            var node = document.createTextNode(data.message);
            para.appendChild(node);
            para_div.appendChild(para);
            var element = document.getElementById("chatWindow");
            element.appendChild(para_div);

            chatWin.scrollTop = chatWin.scrollHeight;
         };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

{% endblock content %}