{% extends 'base.html' %}

{% block title %} JustChat |
    {% for user in current_room.room_members.all %}
        {% if user.username != request.user.username %}
            {{ user.username }}
        {% endif %}
    {% endfor %}
{% endblock title %}
{% block content %}
    <section>
        <div class="container py-5">
            <h1>
                {% for user in current_room.room_members.all %}
                    {% if user.username != request.user.username %}
                        {{ user.username }}
                    {% endif %}
                {% endfor %}
            </h1>
            {% for text_message in all_messages %}
                <p class="my-0">{{ text_message.message }}</p>
            {% endfor %}
            <textarea id="chat-log" cols="100" rows="10"></textarea><br>
            <div class="input-group fixed-bottom">
                <input id="chat-message-input" type="text" class="form-control" size="50">
                <div class="input-group-append">
                    <input id="chat-message-submit" type="button" value="Send" class="btn btn-primary">
{#                    <button class="btn btn-warning" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>#}
                </div>
            </div>
{#            <textarea id="chat-log" cols="100" rows="20"></textarea><br>#}
{#            <input id="chat-message-input" type="text" size="100"><br>#}
{#            <input id="chat-message-submit" type="button" value="Send" class="fixed-bottom btn btn-primary btn-block">#}
        </div>
    </section>

    {{ room_name|json_script:"room-name" }}
    <script>
        console.log({{ room.slug }})
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        {#const roomName = {{ room.slug }}#}
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
         };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

{% endblock content %}