{% extends 'base.html' %}
{% block title %} Password Reset Form {% endblock title %}

{% block content %}
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="">
                        <h3>Forgot password</h3>
                        <form method="post">
                            {% csrf_token %}
{#                            {{ form.as_p }}#}

                            <div class="input-group mb-3">
                                <input placeholder="Email" class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-warning px-md-5">Submit</button>
                                </div>
                            </div>
                        </form>
                        <p>*We will send you an email to reset your password</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">

    </script>
{% endblock %}