{% extends 'base.html' %}
{% block title %} Password Reset Complete {% endblock title %}
{% block content %}

    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="img-thumbnail p-4">
                        <p class="">
                            Your password has been reset. You may go ahead and login  with your new password now.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}