{% extends 'base.html' %}

{% block title %} {% endblock title %}

{% block content %}
    {% load static %}

    <section id="signUp">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <h2 class="text-center">Sign Up Now!</h2>

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="img-thumbnail bg-light p-md-4 p-4">
                        <form method="POST" action="{% url 'accounts:sign_up' %}">
                            {% csrf_token %}
                            <p class="mb-3">{{ form.first_name }}</p>
                            <p class="my-3">{{ form.last_name }}</p>
                            <p class="my-3">{{ form.username }}</p>
                            <p class="my-3">{{ form.email }}</p>
                            <p class="my-3">{{ form.password }}</p>
                            <button type="submit" class="btn btn-outline-warning btn-block py-3 my-3 text-uppercase font-weight-bold">
                                Sign Up <i class="fa px-3 fa-2x fa-long-arrow-right my-0" aria-hidden="true" style="vertical-align: middle"></i>
                            </button>
                        </form>
                        <div>
                            <span>Already have account?</span> <a href="{% url 'accounts:login' %}">Login here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}