#pImage{
    max-height: 220px;
}



#chatWindow{
    overflow: auto;
}

#chat-message-input, #chat-message-submit{
    height: 30px;
}

@media screen and (max-width: 582px) {
    #chatCard{
        border: none;
        bottom: 0;
        position: fixed;
        width: 100%;
        left: 0;
    }
    #chat-message-input, #chat-message-submit{
        height: 40px;
    }
}


#senderMsg, #receiverMsg{
    display: inline-block;
}

#senderMsg{
    /*text-align: right;*/
    float: right;
}

#receiverMsg{
    text-align: left;
}

.form-control:focus{
    box-shadow: none;
}

.form-control[type="text"]
{
    font-size:14px;
}