<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock title %}</title>
    {% load static %}
    {% include 'style.html' %}

</head>
<body style="padding: 0; margin: 0">

    <nav class="navbar bg-info navbar-dark navbar-expand-md px-md-3">
        <a style="font-size: 28px; font-family: 'Pacifico', cursive;" href="{% url 'main:home' %}" class="navbar-brand py-md-0">JustChat</a>


{#        <a href="" class="d-md-none nav-link" style="color: rgba(0,0,0,.5)">#}
{#            <i class="fa fa-shopping-cart my-0" aria-hidden="true"></i>#}
{#        </a>#}


        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a href="{% url 'main:home' %}" class="nav-link">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#messages">Messages</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
                            Hi,  <span class="text-uppercase">{{ user.username }}</span>
                        </a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
{#                        <a class="dropdown-item" href="#"></a>#}
                    </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'accounts:sign_up' %}">Join</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                {% endif %}

            </ul>
        </div>

         <!-- search form for smaller and below smaller screen. it will be hidden on above smaller screens(e.g. medium and large) -->
{#        <form class="form-inline mt-1 mb-2 d-md-none" action="" method="GET">#}
{#            <div class="input-group">#}
{#                <input type="search" class="form-control" placeholder="Search" size="50" name="q" value="{{ request.GET.q }}">#}
{#                <div class="input-group-append">#}
{#                    <button class="btn btn-warning" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags != 'error' %} alert-{{ message.tags }} {% else %} alert-danger {% endif %} alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    {% block content %}
    {% endblock content %}


{#    {% include 'footer.html' %}#}

</body>
</html>