{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <section>
        <div class="container py-3 py-md-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        {% for user in page_obj %}
                            <div class="col-md-2 col-4 px-1 py-1">
                                <a href="{% url 'main:profile_detail' user.user.username %}" class="text-dark text-decoration-none">
                                    <div class="card bg-light">
                                        {% if not user.profile_pic %}
                                            {% if user.gender == 'Others' %}
                                                <img alt="default female pic" class="card-img-top" src="{% static 'static_images/bigender.jpg' %}">
                                            {% elif user.gender == 'Female' %}
                                                <img alt="default female pic" class="card-img-top" src="{% static 'static_images/female_profile_pic.jpg' %}">
                                            {% else %}
                                                <img alt="default male pic" class="card-img-top" src="{% static 'static_images/male_profile_pic.jpg' %}">
                                            {% endif %}
                                        {% else %}
                                            <img alt="{{ user.username }} pic" class="card-img-top" src="{{ user.profile_pic.url }}">
                                        {%endif %}
                                        <div class="card-body p-1">
                                            <p class="card-title mb-0" style="font-size: 10px">{{ user.user.username }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="pagination my-3">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a class="badge badge-info px-3 py-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}

{#                            <span class="current">#}
{#                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#                            </span>#}

                            {% if page_obj.has_next %}
                                <a class="badge badge-info px-3 py-2" href="?page={{ page_obj.next_page_number }}">Next</a>
{#                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
                            {% endif %}
                        </span>
                    </div>
                </div>

                <div class="col-md-4">
                    <form action="{% url 'main:home' %}" class="form-row" method="GET">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="genderFilter" style="font-size: 14px">Gender</label>
                                <select class="form-control" id="genderFilter" name="gender">
                                     {% if request.GET.aFilter %}
                                        <option>{{ request.GET.gender }}</option>
                                    {% else %}
                                        <option>All</option>
                                    {% endif %}
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="ageFilter" style="font-size: 14px">Age</label>
                                <select class="form-control" id="ageFilter" name="aFilter">
                                    {% if request.GET.aFilter %}
                                        <option>{{ request.GET.aFilter }}</option>
                                    {% else %}
                                        <option>All</option>
                                    {% endif %}

                                    {% for age in all_ages %}
                                        <option>{{ age }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="Filter" class="btn btn-block btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}