{% load static %}

<!-- bootstrap css link -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script rel="script" type="text/javascript" src="{% static 'bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>

<!-- fontawesome icons cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- google fonts cdn -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400&family=Pacifico&display=swap" rel="stylesheet">

<!-- custom css link -->
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">